@charset "utf-8";


.tekst h1 {
    font-weight:normal;
    font-size:23px;
   
    
}

.tekst h2 {
    font-weight:normal;
    font-size:21px;
   
    
}


.tekst {

    font-size: 17px;
    width: 100%;
    max-width: 768px;
    margin: auto;
}
